[submodule "auth/saml2"]
	path = auth/saml2
	url = git@github.com:catalyst/moodle-auth_saml2.git
	branch = MOODLE_405_STABLE

[submodule "auth/outage"]
	path = auth/outage
	url = git@github.com:catalyst/moodle-auth_outage.git
	branch = MOODLE_501_STABLE

[submodule "theme/trema"]
	path = theme/trema
	url = git@github.com:trema-tech/moodle-theme_trema.git
	branch = main

